.card {
    width: 800px;
    margin: 12px auto;
    border: 2px solid #E74C3C;
    border-radius: 10px;
    padding-bottom: 6px;
}

.card img {
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card .date {
    text-align: center;    
    background-color: #ccc;
    font-weight: bold;
    padding: 4px;
    font-size: 1.2rem;

}

.card h3 {
    text-align: center;
    margin: 0;
    padding: 4px;
    font-size: 1.5rem;
}

div.address {
    display: flex;
    min-height: 24px;
    align-content: center;
    margin: 6px 0;
}

div.address img.mapmark {
    height: 24px;
    width: 24px;
    display: inline-block;
    padding-top: -4px;
    padding-bottom: -4px;
}

.description {
    padding: 0 8px;
    text-align: justify;
}

.description p {
    margin: 4px 0;
    font-style: italic;
}


.distance h4 {
    padding: 4px 20px;
    background-color: #E74C3C;
    border: 1px solid #E74C3C;
    border-radius: 4px;
    color: #eee;
}

table { 
    width: 80%; 
    border-collapse: collapse; 
    margin: 12px auto;
}

.distance table tr td{
    border-bottom: 1px solid #E74C3C;
    border-top: 1px solid #E74C3C;
}

.apply {
    text-align: center;
}

.apply button {
    padding: 4px 20px;
    background-color: #E74C3C;
    border: 1px solid #E74C3C;
    border-radius: 4px;
    cursor: pointer;
    color: #eee;
}